@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /*colors */
    --white: #fff;
    --lysBlaa: #004494;
    --sideBaggrund: #f2f2f2;
    --gul: #fce144;
    --graa: #707070;
    --blaa: #062142;


    /* SPACING */
    --smallSpacing: 10px;
    --standardSpacing: 16px;
    --mediumSpacing: 24px;
    --largeSpacing: 35px;
    --xLargeSpacing: 50px;
}


*,
*::after,
*::before{
box-sizing: border-box;
}

.flex {
    display: flex;
}

.justifyCenter {
    justify-content: center;
}

.textAlignCenter {
    text-align: center;
    }

.alignCenter {
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span {
    font-family: "Roboto Condensed", sans-serif;
}
body{
    margin: 0;
}
footer{
    display: flex;
    margin-top: 3rem;
    color: var(--white);
    background-color: var(--blaa);
    justify-content: space-between;
}
footer div{
    flex-direction: column;
    margin: 0 1rem 0 1rem;
}
footer p{
 display: inline-block;

}
.footer_link{
    align-items: baseline;
}

h1{
font-size: 1.8rem;
}
h2{
font-size: 1.5rem;
}
h3{
font-size: 1.3rem;
}

.Logo{
    width: 8vh;
    margin-right: 3vh;
}


.btn {
    margin: 15px;
    padding: 10px;
    background: var(--lysBlaa);
    text-decoration: none;
    color: var(--white);
    border-radius: 5px;
    font-size: 0.8rem;
    text-align: center;
    width: 10rem;
    display: inline-block;
}

nav{
    background-color: var(--blaa);
    width: 100%;
    color: var(--white);
}
nav a{
    text-decoration: none;
    color: var(--white);
}
.fa-bars{
    margin: 1rem 1.5rem 1rem 2rem;
    
}
.fa-location-dot{
    
}
.fa-brands{
    color: var(--gul);
margin: 0.2rem;
}

.navListe{
    display: none;
}

.mobileNav{
justify-content: space-around;
}
.fa-solid{
    color: var(--gul);
}
.sponsgrid{
display: grid;
grid-template-columns: repeat(3, 1fr);
justify-content: space-between;
justify-items: center;
}
.sponsor{
    margin-top: 2rem;
    width: 85px;
    height: 40px;
    background-color: var(--graa);
}
.sponsImg{
    max-width:85px;
    max-height: 40px;
}

main{
    padding: 0rem 2rem 0rem 2rem; 
}
/* forside */

.vaerdier{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 2rem;
    align-items: center;
    }
    .vaerdier i{
    font-size: 60px;
    padding: 10px;
    }
    .textBillede{
    max-width: 100%;
    height: auto;
    }
    .btnSen, .btnUng{
    height: 60%;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    text-align: center;
    margin: 15px;
    padding: 10px;
    text-decoration: none;
    background-image: ;




    /* arrangement */
    }

    .arrangementHeader{
        background-image: url(/Arrangementer\ header_mobil.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        height: 18vh;
    }
    .arrangementCard{
        background-color: var(--blaa);
        text-align: center;
        color: white;
        border-radius: 8px;
    }
    .wrapper a{
        text-decoration: none;
        display: block;
        /* max-width: 273.1px;
        max-height: 347.29px; */
    }
    .arrangementCard img{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 273px;
        height: 173px;
    }
    .arrangementCard p{
        width: 30ch;
        margin: 0 auto;
    }
    .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2rem;
        justify-items: center;
    }
    .desktopVersion{
        display: none;
    }




/* vedtægter */
        
        .vedteagter span {
        margin-right: 20px;
        max-width: 16px;
        }
        .vedteagter ul {
        padding: 15px;
        }
        .vedteagter p {
        margin-top: 0;
        margin-bottom: 25px;
        }
        .vedteagtSection {
        display: flex;
        }
        .vedteagter {
        margin-block: 50px;
        margin-inline: 25px;
        }






/* media queries */
    
    @media screen and (min-width: 1000px){
        header{
            display: none;
        }
        .desktopVersion{
            display: flex;
            flex-direction: row-reverse;
        }
        .mobileVersion{
            display: none;
        }
        .wrapper{
            grid-template-columns: repeat(3,1fr);
        }
        .arrangementCard{
            height: 500px;
        }
       
        .arrangementCard p{
            padding-bottom: 8px;
        }
        .arrangementCard p, h4 {
            width: 30ch;
            margin: 0 auto;
        }
        .arrangementCard img{
            width: 100%;
            height: auto;
        }
        .navListe{
            display: flex;
            padding: 1vh;
            gap: 8vh;
            list-style: none;
            margin: 0 auto; 
        }
        .mobileNav{
            display: none;
        }
        .Logo{
            width: 12vh;
        }
        .eventsection{
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
        .eventImage{
            justify-self: end;
            align-self: center;
        }
    }


.eventsection h1, h3{
    text-align: center;
}

.salg{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.eventImage img{
    width: 100%;
}


video{
    object-fit: cover;
}
