@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*colors */
    --white: #fff;
    --lysBlaa: #004494;
    --sideBaggrund: #f2f2f2;
    --gul: #fce144;
    --graa: #707070;
    --blaa: #062142;


    /* SPACING */
    --smallSpacing: 10px;
    --standardSpacing: 16px;
    --mediumSpacing: 24px;
    --largeSpacing: 35px;
    --xLargeSpacing: 50px;
}

body {
    background-color: #F2F2F2;
}


*,
*::after,
*::before {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.justifyCenter {
    justify-content: center;
}

.textAlignCenter {
    text-align: center;
}

.alignCenter {
    align-items: center;
}



h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span {
    font-family: "Roboto Condensed", sans-serif;
}

body {
    margin: 0;
}

footer {
    display: flex;
    margin-top: 3rem;
    color: var(--white);
    background-color: var(--blaa);
    justify-content: space-between;
}
footer > *{
max-width: 30%;
}

footer div {
    flex-direction: column;
    margin: 0 1rem 0 1rem;
}

footer p {
    display: inline-block;
}

.footer_link {
    align-items: baseline;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3rem;
}

.Logo {
    width: 8vh;
    margin-right: 3vh;
}

/*styling af botton*/
.btn {
    margin: 15px;
    padding: 10px;
    background: var(--lysBlaa);
    text-decoration: none;
    color: var(--white);
    border-radius: 5px;
    font-size: 0.8rem;
    text-align: center;
    width: 10rem;
    display: inline-block;
    border: none;
}

/*styling af nav*/
nav {
    background-color: var(--blaa);
    width: 100%;
    color: var(--white);
}

nav a {
    text-decoration: none;
    color: var(--white);
}

.fa-bars {
    margin: 1rem 1.5rem 1rem 2rem;
}

.fa-brands {
    color: var(--gul);
    margin: 0.2rem;
}

.navListe {
    display: none;
}

.mobileNav {
    justify-content: space-around;
}

.fa-solid {
    color: var(--gul);
}

/* sponsor */

.sponsHeader h1 {
    margin-top: var(--mediumSpacing);
    margin-bottom: var(--smallSpacing);
}


.sponsgrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    justify-items: center;
}

.sponsor {
    margin-top: 2rem;
    width: 85px;
    height: 40px;
    background-color: var(--sideBaggrund);
    display: flex;
    justify-content: space-evenly;
}

.sponsImg {
    max-width: 85px;
    max-height: 40px;
}


@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes jumparrow {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(1rem);
    }
    100%{
        transform: translateY(-5px);
    }
}
#jumparrowElement{
  display: none;
}


.fadeElement {
  opacity: 0;
  animation: fade 1s ease-out;
  animation-fill-mode: forwards;
}
.animateInFade{

}
.animateInFadeText{
	transition: 500ms;
	transition-timing-function: ease-out;
}   
  .fadeIn {
    opacity: 0;
    transform: translateX(-50px) scale(.5);
  }

.hovedSponsorImg {
    display: block;
    max-height: 60vh;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.hovedSponsorImgHeader {
    display: block;
    object-fit: cover;
    max-height: 60vh;
    margin-left: auto;
    margin-right: auto;
}

.overskriftH1 {
    margin-top: var(--largeSpacing);
    margin-bottom: var(--mediumSpacing);
}

main {
    padding-inline: var(--mediumSpacing);
}
.utility{
    padding-inline: var(--mediumSpacing);
}
.utility:last-of-type{
    margin-bottom: 50px;
}

.commonStyleH3 {
    margin-top: var(--mediumSpacing);
    margin-bottom: var(--smallSpacing);
}

.sponsHeader p {
    padding: 0;
    margin-bottom: var(--smallSpacing);
}

.commonStyleP {
    padding: 0;
    margin-bottom: var(--largeSpacing);
}

/* Om Os */
.gridOmOs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    max-width: 100%;
    margin: 2rem auto;
    grid-column-gap: 1rem;
    justify-items: center;
}
.OmOsVærdier{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin-top: var(--xLargeSpacing);
}
.OmOsVærdier div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#OmOsBil1 {
    grid-row: 1 / 4;
    grid-column: 2 / 2;
    max-width: 100%;
    max-height: 100%;
}

#OmOsBil2 {
    grid-row: 3 / 6;
    grid-column: 1 / 1;
    max-width: 100%;
    max-height: 100%;
}

#OmOsBil3 {
    grid-row: 5 / end;
    grid-column: 2 / 2;
    max-width: 100%;
    max-height: 100%;
}


/* forside */

.herovideo {
    max-width: 100%;
}

.vaerdier {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    align-items: center;
}

.vaerdier i {
    font-size: 60px;
    color: var(--blaa)
}

.textBillede {
    max-width: 100%;
    height: auto;
}


/* Kalender */

.kalender {
    background-color: white;
    border-radius: 7px;
    margin: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;

}

.kalender i {
    color: black;
}

.kalender ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.måned {
    padding-bottom: 10px;
    text-align: center;
}

.måned ul {
    display: flex;
    /* Tilføjet display: flex; */
    justify-content: center;
    /* Centrerer indholdet horisontalt */
    align-items: center;
    /* Centrerer indholdet vertikalt */
    position: relative;
}

.måned li {
    padding: 10px;
}


.ugedage {
    display: flex;
}


.ugedage li {
    padding: 10px;
    letter-spacing: 3px;

}

.dage {
    display: flex;
    flex-wrap: wrap;

}


.dage li {
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
    letter-spacing: 3px;

}

.tilbage {
    float: left;
}

.næste {
    float: right;
}

.dagensaktivitet {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}

.dagensaktivitet i {
    color: var(--lysBlaa);
    padding-right: 2px;
}

.fremhævelse {
    font-weight: bold;
    color: var(--lysBlaa);
}

.arrangementStyle {
    display: flex;
    border-radius: 4px;
    background-color: var(--blaa);
    color: white;
    max-width: 100%;
}

.arrangementStyle img {
    max-width: 160px;
    object-fit: conver;
}

.ArrangementIndhold {
    padding-left: 1rem;
}


.ArrangementIndhold h2,
p {
    margin: 0;
    padding-top: 0.5rem;
}

.kommendeArrange div {
    margin-bottom: 1rem;
}

/* Bliv træner */ 
.blivTræner video{
    max-width: 100%;
}
/* arrangement */

.arrangementHeader {
    background-image: url(/Arrangementer\ header_mobil.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 18vh;
}

.arrangementCard {
    background-color: var(--blaa);
    text-align: center;
    color: white;
    border-radius: 8px;
}

.wrapper a {
    text-decoration: none;
    display: block;
    /* max-width: 273.1px;
        max-height: 347.29px; */
}

.arrangementCard img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 273px;
    height: 173px;
}

.arrangementCard p {
    width: 30ch;
    margin: 0 auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    justify-items: center;
}

.desktopVersion {
    display: none;
}


.sponsorForside img {
    max-width: 70%;

}


.sponsorForside {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kalender{
    margin: 0px;
}

.centerForside h2 {
    text-align: center;
}
.desktopForside{
    padding: 0px 1.5rem 0px 1.5rem;
}
.blivTræner>.btn{
    margin-left: 0px !important
}

/*Styling af refusion og udgifter*/

.imgRefusionUdgift {
    width: 100%;
    object-fit: cover;
    margin-top: var(--mediumSpacing);
}


.overskiftRefusionUdgift {
    margin-block: var(--smallSpacing);
}

.introRefusionUdgift {
    margin-top: var(--smallSpacing);
    margin-bottom: var(--smallSpacing);
    padding: 0;
}

.h2RefusionUdgift {
    margin-inline: 0;
    margin-block: var(--smallSpacing);
}

.pRefusionUdgift {
    padding: 0;
    margin-top: var(--smallSpacing);
    margin-bottom: var(--smallSpacing);
}

/* media queries til refusion og udgift */
@media screen and (min-width: 1000px) {
    .refusionUdgift {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .rødtKort {
        grid-column: 1;
        grid-row: 2;
        padding-left: var(--xLargeSpacing);
        padding-right: var(--xLargeSpacing);
        padding-top: var(--xLargeSpacing);
    }

    .imgRefusionUdgift {
        margin-bottom: var(--mediumSpacing);
    }

    .refusion {
        padding-left: var(--xLargeSpacing);
        padding-right: var(--xLargeSpacing);
        padding-top: var(--xLargeSpacing);
    }

}



@media screen and (min-width: 1000px) {
    .centerGrid{
        font-size: 20px;
    }
    .utility{
        font-size: 20px;
        padding-inline: 0px;
    }
    .utility:last-of-type{
        margin-bottom: 0px;
    }
    .traeningstider{
        padding: 0px 3rem 0px 3rem;
    }
    .desktopForside {
        display: grid;
        grid-template-columns: [first] 2fr [line2] 1fr [end];
        padding: 0px 3rem 0px 3rem;
    }

    .herovideo {
        width: 100%;
        height: 85vh;
        object-fit: cover;

    }
    .desktopForside{
        column-gap: 3rem;
    }

    .aalbrogHKForside {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .aalbrogHKForside p {
        max-width: 78ch;
        font-size: 20px;
    }
    .blivTræner p{
        max-width: 78ch;
        font-size: 20px;   
    }
    .blivTræner h2 {
        margin-left: 0px;
    }

    .værdi1, .værdi3{
        justify-self: end;
    }
    .værdi2, .værdi4{
        justify-self: start;
    }
    .vaerdier{
        column-gap: 10rem;
        margin-bottom: 3.5rem;
    }
    

    .blivTræner {
        grid-column-start: 1;
        grid-template-rows: 3;
    }

    .kalender {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .kommendeArrange h2 {
        text-align: left;
    }

    .sponsorForside {
        flex-direction: row;
        gap: 3rem;
        justify-content: center;
    }
}

/* trænere */
.kontaktOsWrapper {
    background-color: var(--white);
    margin: 1rem auto;
    padding: 1rem;
    box-shadow: 3px 3px 5px var(--graa);
    max-width: 60%;
}
#TrænereMedie1 video{
    max-width: 90%;
}



/* vedtægter */

.vedteagter span {
    margin-right: 20px;
    max-width: 16px;
}

.vedteagter ul {
    padding: 15px;
}

.vedteagter p {
    margin-top: 0;
    margin-bottom: 25px;
}

.vedteagtSection {
    display: flex;
}

.vedteagter {
    margin-block: 50px;
    margin-inline: 25px;
}

/* udvalg */
.cardsUdvalg {
    border-radius: 0.5rem;
    color: black;
    margin-bottom: var(--mediumSpacing);
}

.cardsUdvalg img {
    width: 100%;
border-radius: 0.5rem;
}

.cardsUdvalg p {
    margin: 0;
    margin-inline: 15px;
    padding-bottom: 10px;
}
.accordion p{
    margin-bottom: var(--mediumSpacing);
}

.accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #004494;
    color: var(--white);
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 0.5rem;
    padding: 10px;
    margin-top: var(--smallSpacing);
}
.active{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #D8DEE5;
    color: black;
}
.panel {
    color: black;
    background-color: #D8DEE5;
    display: none;
    overflow: hidden;
    padding: 0 15px;
    transition: max-height 0.5s;
    margin-bottom: 15px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.introtekstUdvalg{
    margin-bottom: var(--mediumSpacing);
}
.panel h4{
    margin: 0;
    margin-inline: 15px;
    padding-bottom: 15px;
    padding-top: 0.5rem;
}
.cardsUdvalg  a{
    color: var(--blaa);
}
.cardsUdvalg i{
    color: var(--blaa);
}
.accordion i {
    transform: rotate(90deg);
    
}


/* media queries */

@media screen and (min-width: 1000px) {

    #jumparrowElement{
        display: block;
        animation: jumparrow 1.2s ease-in-out;
        animation-iteration-count: infinite;
        border-style: dashed;
        border-radius: 100%;
        padding: 7px 15px;
        font-size: 3.5rem;
        color: var(--blaa) !important;
        position: absolute;
        top: 81vh;
        right: 48vw;
        background-color: #f2f2f2;
    }
    .arrangementHeader,
    .traeningHeader {
        display: none;
    }

    .desktopVersion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .mobileVersion {
        display: none;
    }

    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .arrangementCard {
        height: 500px;
    }

    .arrangementCard p {
        padding-bottom: 8px;
    }

    .arrangementCard p {
        width: 30ch;
        margin: 0 auto;
    }

    .arrangementCard h4 {
        width: 30ch;
        margin: 0 auto;
    }

    .arrangementCard img {
        width: 100%;
        height: auto;
    }

    .navListe {
        display: flex;
        padding: 1vh;
        gap: 8vh;
        list-style: none;
        margin: 0 auto;
    }

    .mobileNav {
        display: none;
    }

    .Logo {
        width: 12vh;
    }

    .eventsection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .eventsection>article p{
        max-width: 75ch;
    }

    .eventImage {
        justify-self: end;
        align-self: center;
    }

    .imgcontainer {
        max-width: 952px;
        max-height: 800px;
        justify-self: end;
    }

    .imgcontainer img {
        width: 100%;
        height: auto;
    }

    .desktopVersion article {
        padding-left: 5rem;
        max-width: 74ch;
    }

    .traeningHeader {
        display: none;
    }

    .sommertraeningUngdom {
        display: none;
    }


    #traeningSOm {
        display: block;
        justify-self: end;
        max-width: 952px;
        max-height: 500px;
    }

    #traeningSOm img {
        max-width: 100%;
        height: 100%;
    }

    #ungdomDesk {
        display: block;
        max-width: 827px;
        max-height: 500px;
        margin-bottom: 4rem;
    }
    /* udvalg */
    .cardWrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--largeSpacing);
        
    }
    .cardWrapper img{
        height: 218px;
    }
    .panel p{
       text-align: left;
    }


    /* sponsor */
    .sponsImg {
        max-width: 100%;
        max-height: 100%;
    }

    .sponsor {
        max-width: 10rem;
        max-height: 5rem;
        height: auto;
        width: auto;
    }

    .sponsHeader {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        margin-top: 2rem;
    }

    .sponsHeader div {
        max-width: 40%;


    }

    /* om os */
    .omOsHeader {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 2rem;
    }

    .omOsHeader div {
        max-width: 35%;
        margin-left: 16vh;

    }

    .omOsHeader img {
        max-width: 70%;
    }
    #galleriH1{
    display: flex;
    justify-content: center;
    }
    .gridOmOs {
        display: flex;
        justify-content: space-around;
    }

    .gridOmOs img {
        width: 25vw;
    }

    .OmOsVærdier {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
    }
    .values{
        text-align: center;
        padding-bottom: 4rem;
    }

    .OmOsVærdier i {
        font-size: 60px;
        color: var(--blaa)
    }

    /*  */
    #ungdomDesk img {
        max-width: 100%;
        height: 100%;
    }


    .TraeningSeciton {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0rem 0rem 0rem 4.5rem;
        margin-bottom: 3rem;
    }

    .TraeningSeciton article {
        padding-right: 5rem;
        max-width: 80ch;
    }

    .ungdomTraening {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 0px 0px 3rem;
    }

    .gap {
        display: block;
        margin: 8px 0px 8px 0px;
    }

    .ungdomTraening p:first-of-type {
        padding-bottom: 1.5rem;
    }

    .gap:last-of-type {
        padding-bottom: 1.5rem;
    }

    .ungdomTraening article {
        width: 60ch;
    }

    .ungdomTraening .btn {
        margin-left: 0px !important;
    }
    .centerGrid{
        justify-self: end;
    }

    .traeningstider {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .arrangementCard p{
        font-size: 20px;
        text-align: left;
        margin-left: 2rem
    }
    .desktopVersion>div>article p{
        font-size: 20px;
    }
    .desktopVersion h1{
        margin-bottom: 0px;
    }
    .desktopVersion{
        margin-bottom: 4rem;
    }

    #dag1,
    #dag2,
    #dag3,
    #dag4,
    #dag5 {
        margin-right: 1px;
        display: flex;
        flex-direction: column;
    }

    .dag {
        max-width: 100% !important;
        border-radius: 0px !important;
    }

    #dag1 .daybox {
        margin-left: 0px !important;
    }

    /* Trænere */
    .gridTrænere {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 80%;
        margin: 1rem auto;
        align-items: center;
        column-gap: 2rem;
    }

    .gridTrænere img {
        max-width: 85%;
    }

    #TrænereMedie1 {
        grid-column: 2 / 2;
    }

    #TrænereMedie3 {
        grid-column: 2 /2;
    }

    #TrænereArticle1 {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }

    #TrænereArticle3 {
        grid-row: 3 / 3;
    }

    #TrænereArticle5 {
        grid-column: 1 / 1;
        grid-row: 5 / 5;
    }

    #TrænereArticle6 {
        grid-column: 2 / 2;
        grid-row: 6 / 6;
    }

    /* sponsor */
    .hovedSponsor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        max-width: 80%;
        margin: 2rem auto;
        gap: var(--largeSpacing);
    }
    .hovedSponsor div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #hovedSponsor3 {
        grid-column: 1;
        grid-row: 2;
    }

    #hovedSponsor4 {
        grid-column: 2;
    }
    .overskriftH1Spons{
        display: flex;
        justify-content: center;
        margin-top: var(--largeSpacing);
        margin-bottom: var(--mediumSpacing);

    }
}


.eventsection h1,
h3 {
    text-align: center;
}

.salg {
    display: flex;
    /* gap: 2rem; */
    align-items: center;
}

.eventImage img {
    width: 100%;
}




/* Sommertræning */
.traeningHeader {
    background-image: url(../billeder/sommertraeningHeader.jpg);
    background-repeat: no-repeat;
    /* background-size: contain; */
    height: 18vh;
}

.sommertraening {
    display: none;
}

.centerbtn {
    display: block;
    margin: auto;
    margin-bottom: 5rem;
}

.mandag {
    display: grid;
    grid-template-columns: 110px 248px;
    /* gap: 3rem; */
}

.dag {
    text-align: center;
    background-color: var(--lysBlaa);
    color: white;
    max-width: 110px;
    margin-bottom: 1px;
}

.radius {
    border-top-left-radius: 10px;
}

.daybox {
    background-color: white;
    border-radius: 6px;
    padding-bottom: 1rem;
    margin-left: 6px;
    margin-bottom: 6px
}

.daybox p {
    margin-top: 0px;
}

.sommertraeningUngdomDesk {
    display: none;
}




/* Selve holdsiden */
.holdesideGrid h3 {
    text-align: left;

}

.fremhæveTekst {
    font-weight: bold;
    margin: 0;
}

.tilbyder p {
    margin-top: 0;
}

.medlemansvarlig {
    display: flex;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
}

.medlemansvarlig img {
    padding: 0;
    object-fit: contain;
}

.medlemansvarlig i,
.tiderHold i,
.trænereSektion i {
    color: var(--blaa);
    margin-right: 0.5rem;
}

.holdesideGrid img {
    max-width: 100%;
    height: auto
}

.tilmeldHold {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
}

.tilmeldHold h4 {
    margin: 0px;
    padding-top: 1.5rem;
}

.tilmeldHold .fremhæveTekst {
    text-align: right;
}

.mobilHold {
    padding: 1rem;
}

.btncontainer {
    display: flex;
    justify-content: center;
}

.flexhold {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.tiderHold h4 {
    text-align: center;
}

.tid {
    background-color: white;
    border-radius: 10px;
    display: flex;
    margin-bottom: 1.5rem;
    padding: 1rem;
    align-items: center;
    gap: 2rem;
}

.traeningsdag {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    width: 114px;
    height: 102px;
    background-color: #BAD97C;
    color: #657B3D;
}

.trænigstid1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.trænere div {
    background-color: white;
    border-radius: 4px;
    padding: 1rem;
}


/* Holdsiden  desktop*/
@media screen and (min-width: 1000px) {
    .holdesideGrid {
        display: grid;
        column-gap: 4rem;
        row-gap: 4rem;
    }

    .column1row1 {
        grid-column: 1;
        grid-row: 1/4;
    }

    .tilmeldHold {
        grid-column: 2/3;
        grid-row: 1;
    }

    .mobilHold {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .medlemansvarlig {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .tiderHold {
        grid-row: 4/5;
        grid-column: 2/3;
    }

    .tid {
        margin-bottom: 1rem;
        justify-content: flex-start;
        padding-left: 14px;
        max-width: 636px;
        max-height: 180px;
    }


    .trænere {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        /* Tilføj gap her */
        margin: 0;
    }


    .tilmeldHold {
        max-width: 636px;
        max-height: 656px;
        padding-left: 1rem;

    }

    .flexhold {
        justify-content: flex;
        gap: 10rem;
    }


}


/* Faciliteter */
.faciliteter img {
    max-width: 100%;
}

.faciliteter p,
h2,
.btn {
    margin: 2rem;
}

@media screen and (min-width: 1000px) {
    .faciliteter {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 2rem;

    }


    .faciliteter img {
        min-width: 100%;
        max-height: 500px;
        object-fit: contain;

    }

    .faciTekst {
        padding: 2rem;
        align-items: center;
    }

    .headtext {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 50%;
        padding: 3.3rem;
    }
    /* .test{
        margin-top: 10px;
        position: absolute;
        background-color: black;
        list-style-type: none;
        padding-left: 0px;
        border-radius: 4px;
    }
    
    .kek{
        width: 110px;
        display: flex;
        justify-content: start;
        padding-left: 12px;
        padding-bottom: 10px;
    } */
    .megaMenu{
        background-color: #062142;
        position: absolute;
        width: 100%;
        display: grid !important;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        color: white;
    }
    .megaMenu ul{
        list-style-type: none;
    }
    .megaMenu p{
        padding-bottom: 10px;
    }
    .megaMenu a{
        color: white;
        text-decoration: none;
    }
    .justifyCenter{
        margin-bottom: 0.7px;
    }
    .menU{
        display: none !important;
    }
    #hideMegaMenu p{
        font-weight: bolder;
    }

}
.megaMenu ul{
    padding: 0px;
}

.megaMenu{
    display: none;
}


iframe {
    display: flex;
    margin: auto;
    width: 700px;
    height: 1056px;
}

.årsplanHeading {
    text-align: center;
    margin-bottom: 3rem;
}

.mobileNav .fa-bars {
    font-size: 33px;
}

.hello {
    height: 40vh;
    background-color: red;
}

.fa-arrow-down {
    color: white !important;
}

.navBurger {
    display: none;
    padding-right: 2rem;
}

.navBurger>ul>li {
    list-style-type: none;
}


.show {
    display: block !important;
}

.tilmeldDropdown {
    display: none;
}

.praktiskDropdown {
    display: none;
}

.menU {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#hideMegaMenu{
    display: none;
}


