@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /*colors */
    --white: #fff;
    --lysBlaa: #004494;
    --sideBaggrund: #f2f2f2;
    --gul: #fce144;
    --graa: #707070;
    --blaa: #062142;

}

*,
*::after,
*::before{
box-sizing: border-box;
}

.flex {
    display: flex;
}

.justifyCenter {
    justify-content: center;
}

.alignCenter {
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Roboto+Condensed", sans-serif;
}

h1{
font-size: 1.8rem;
}

.btn {
    margin: 15px;
    padding: 10px;
    background: var(--lysBlaa);
    text-decoration: none;
    color: var(--white);
    border-radius: 5px;
    font-size: 0.8rem;
    text-align: center;
    width: 10rem;
    display: inline-block;
}

